/*@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Fraunces:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap");*/
/* Fonts */
@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow-500.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow-600.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow-700.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/fraunces-700.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/fraunces-900.woff2");
  font-weight: 900;
}

/* General Styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Custom Properties */
:root {
  /* Colors */
  /* primary */
  --clr-soft-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --clr-dark-blue: hsl(198, 62%, 26%);
  --clr-dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neutral */
  --clr-white: hsl(0, 0%, 100%);
  --clr-greyish-blue: hsl(210, 4%, 67%);
  --clr-dark-greyish-blue: hsl(232, 10%, 55%);
  --clr-very-dark-greyish-blue: hsl(213, 9%, 39%);
  --clr-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --clr-black: hsl(212, 27%, 19%);
  --clr-background: hsl(0, 0%, 95%);

  /* Font Sizes */
  --s-base: 18px;
  --s-medium: 1.5rem;
  --s-large: 2rem;
  --s-xlarge: 2.5rem;
  --s-xxlarge: 3.25rem;
  --s-xtreme: 6.5rem;
  --s-small: 0.65rem;
  --s-xsmall: 0.5rem;

  /* Fonts*/
  --ff-headings: "Fraunces";
  --ff-regular: "Barlow";
}

body {
  font-family: var(--ff-regular);
  font-size: var(--s-base);
  margin: 0;
  padding: 0;
  background-color: var(--clr-background);
}

h1,
p {
  margin-block: 0;
}

h1,
h2 {
  font-family: var(--ff-headings);
  font-weight: 900;
}

h1 {
  font-size: var(--s-xlarge);
  text-transform: uppercase;
  letter-spacing: 6.25px;
  color: var(--clr-white);
  padding-bottom: var(--s-xxlarge);
}

h2 {
  font-size: var(--s-large);
}

p {
  font-family: var(--ff-regular);
}

/* Property Classes */

.padding-inline-medium {
  padding-inline: var(--s-medium);
}

.padding-block-large {
  padding-block: var(--s-large);
}

.padding-block-xlarge {
  padding-block: calc(var(--s-large) * 2);
}

.page-header {
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  _height: 500px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--s-xxlarge);
}

.content-box {
  text-align: center;
}

.arrow-down {
  padding-bottom: var(--s-xtreme);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Articles */
.article-image {
  aspect-ratio: 375 / 312;
  _background-repeat: no-repeat;
  background-size: contain;
  _background-position: center center;
}

.transform .article-image {
  background-image: url("../images/mobile/image-transform.jpg");
}

.stand-out .article-image {
  background-image: url("../images/mobile/image-stand-out.jpg");
}

.article-text {
  text-align: center;
  aspect-ratio: 375 / 312;
}

.two-columns.graphic-design-photography > .article-text {
  background-size: cover;
  aspect-ratio: 375 / 624;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.two-columns.graphic-design-photography > .article-text > p {
  color: var(--clr-black);
}

.article-text.graphic-design {
  background-image: url("../images/mobile/image-graphic-design.jpg");
}

.article-text.photography {
  background-image: url("../images/mobile/image-photography.jpg");
}

.article-text h2 {
  color: var(--clr-black);
}

.article-text > p {
  font-family: var(--ff-regular);
  font-size: calc(var(--s-base) * 0.9);
  font-weight: 500;
  color: var(--clr-dark-greyish-blue);
  line-height: 1.75;
  margin-bottom: var(--s-large);
}

.article-link {
  font-family: var(--ff-headings);
  font-size: calc(var(--s-base) * 0.8);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--clr-black);
  position: relative;
}

.article-link::before {
  content: "";
  position: absolute;
  inset-inline: calc(var(--s-xsmall) * (-1));
  bottom: 0px;
  height: var(--s-small);
  z-index: -1;
  opacity: 0.25;
  border-radius: 2rem;
}

.transform .article-link::before {
  background-color: var(--clr-yellow);
}

.stand-out .article-link::before {
  background-color: var(--clr-soft-red);
}

.article-link:hover::before {
  opacity: 1;
}

@media screen and (min-width: 768px) and (max-width: 819px) {
  .article-text {
    padding-top: calc(var(--s-large) * 5);
  }

  .two-columns.graphic-design-photography > .article-text {
    background-position: top center;
    aspect-ratio: 375 / 315;
  }

  .article-text.graphic-design {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }

  .article-text.photography {
    background-image: url("../images/desktop/image-photography.jpg");
  }
}

@media screen and (min-width: 820px) {
  .two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .two-columns.transform > .article-image {
    background-image: url("../images/desktop/image-transform.jpg");
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .two-columns.transform > .article-text {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .two-columns.stand-out > .article-image {
    background-image: url("../images/desktop/image-stand-out.jpg");
  }

  .article-image {
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1 / 1.05;
  }
  /**/
  .two-columns.graphic-design-photography > .article-text {
    aspect-ratio: 375 / 525;
    background-position: top center;
  }

  .article-text.graphic-design {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }

  .article-text.photography {
    background-image: url("../images/desktop/image-photography.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .two-columns.graphic-design-photography > .article-text {
    aspect-ratio: 375 / 350;
    background-position: top center;
  }
}
